Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Packaged Game Goede Versie/WindowsNoEditor/PWS/Content/Paks/PWS-WindowsNoEditor.pak
